body {
  background-color: lightgrey;
  font-family: "Mansalva", cursive;
}

.wrapper {
  text-align: center;
  justify-content: center;
}

#postComment {
  margin-top: 70px;
}

#msg {
  min-height: 100px;
  min-width: 250px;
  color: #436e70;
  font-size: 14px;
  border: 2px solid #8fbc8f;
  font-family: "Mansalva", cursive;
  background-color: #f5f5dc;
  font-size: 16px;
  padding: 10px;
}

#msg:placeholder {
  color: #436e70;
}

#post {
  color: #228b22;
  background-color: #f0e68c;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15%;
  border: 2px solid #8fbc8f;
  font-family: "Mansalva", cursive;
}

#result {
  min-height: 100px;
}

.postBox {
  /* background-color: #CD5C5C; */
}

.heading {
  color: #20b2aa;
  margin-bottom: 0;
}

.comment {
  word-wrap: break-word;
  padding: 15px;
  padding-left: 25px;
  padding-right: 20px;
  margin-top: 2px;
  background-color: #deb887;
  border-radius: 11%;
  line-height: 1.7;
  color: #006600;
  font-size: 17px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
